<h3>搜尋題庫</h3>

<%= form_tag search_index_path, method: :get do %>

	<label for="quiz">搜尋題目內容</label>	
	<%= text_field_tag :quiz, params[:quiz] %>
	</br>
	<label for="tag">搜尋題目標籤</label>	
	<%= text_field_tag :tag, params[:tag] %>

	<%= submit_tag "Search", name: nil %>

<% end %>
<p>eg. AFF ANX SCH SCZ PHA NEU SOC COM FOR ..</p>


<% if @cards %>

	<div class="text-center">
		<%= paginate @cards %>
	</div>


	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Card quiz</th>
				<th>Card answer</th>
				<th>tags</th>
				<th width="100">Options</th>
			</tr>
		</thead>
		<tbody>
			<% @cards.each do |card| %>
				<tr>
					<td><%= link_to card.id, admin_card_path(card) %></td>
					<td><%= card.qtest %></td>
					<td><%= card.fulltext %></td>
					<td><%= card.tags %></td>
					<td>
						<%= link_to "Edit", '#', class: "btn btn-xs btn-info" %>
						<%= link_to "Delete", '#', method: :delete, class: "btn btn-xs btn-danger", data: {confirm: "Are you sure?"} %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>